:host /deep/ .theme-cred {
    background-color: rgba(55,106,215,1);
    color: white;
}

:host .title {
    padding: 5px;
}

:host .full-width{
    width: 100%;
}

:host .autologin{
    cursor: pointer;
}

.login{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
